<% for( let i = 0; i < countEquations; i++ ) { %>
<label for="" class="last-label">=</label>
<input
  class="<%= lastClass %>"
  type="text"
  name="<%= i %>"
  id="<%= i %> "
  value="0"
/>
<br />
<% } %>
